<div class="event">
  <h2>Event creation</h2>
  <form [formGroup]="event" (ngSubmit)="createEvent()">
    <div class="inl-group row">
      <!--TITLE-->
      <div class="form-group col-7">
        <label for="title">Title*</label>
        <input
          formControlName="title"
          type="text"
          class="form-control formVal"
          placeholder="Enter title"
        />

        <div
          *ngIf="event.get('title').invalid && event.get('title').touched"
          class="validation"
        >
          <small *ngIf="event.get('title').errors.minlength">
            Length must be greater than
            {{ event.get("title").errors.minlength.requiredLength }} characters.
          </small>

          <small *ngIf="event.get('title').errors.maxlength">
            Length must be less than 200 characters.
          </small>

          <small *ngIf="event.get('title').errors.required">
            Field "title" can’t be empty.
          </small>
        </div>
      </div>

      <!-- EVENT TYPE -->
      <div class="form-group col-2">
        <label for="event-type">Event type*</label>
        <select
          class="form-select form-control formVal"
          formControlName="event_type"
        >
          <option [ngValue]="'sales'">Sales</option>
          <option [ngValue]="'news'">News</option>
        </select>
      </div>

      <!-- ACTIVE  -->
      <div class="form-group">
        <label for="active">Status</label>
        <select
          class="form-select form-control formVal"
          formControlName="active"
        >
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Disabled</option>
        </select>
      </div>
    </div>

    <div class="inl-group row">
      <!-- LOCATION -->
      <div class="form-group col-7">
        <label for="location">Location*</label>
        <input
          class="form-control formVal"
          type="text"
          matInput
          formControlName="location"
          [matAutocomplete]="auto"
          placeholder="Pick location"
          [(ngModel)]="src"
        />
        <div
          *ngIf="event.get('location').invalid && event.get('location').touched"
          class="validation"
        >
          <small *ngIf="event.get('location').errors.required">
            Field "location" can’t be empty.
          </small>
        </div>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let location of allLocations | startsWith: src"
            [value]="location"
          >
            <p *ngIf="location.id != 1 && location.root != 1">
              {{ location.name }},{{ location.parentName }}
            </p>

            <p *ngIf="location.id != 1 && location.root == 1">
              {{ location.name }},
              <i class="fas fa-tree"></i>
            </p>
            <p *ngIf="location.id == 1">
              <i class="fas fa-tree"></i>
            </p>
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- DATE
            <div class="form-group col-3">
                <label for="event-type">Update date</label>
                <input type="number" id="date" class=" form-control" formControlName="date" min="1" max="31">
            </div>-->
    </div>

    <!-- SHORT DESCRIPTION -->
    <div class="form-group">
      <label for="short_description">Short description</label>
      <textarea
        formControlName="short_description"
        type="text"
        class="form-control formVal"
        placeholder="Enter short description"
      ></textarea>
    </div>

    <!-- FULL DESCRIPTION -->
    <div class="form-group">
      <label for="description">Full description</label>
      <textarea
        formControlName="description"
        type="text"
        class="form-control formVal"
        placeholder="Enter full description"
      ></textarea>
    </div>

    <!-- PICTURE -->
    <div class="form-group picture center">
      <!--<label>Add picture(optional):</label>
            <input type="file" class="form-control-file" name="filename" (change)="onFileChange($event)" />
            <img *ngIf="url" src="{{url}}">-->

      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="droppedPicture($event)"
      >
        <ng-template
          class="words"
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <p (click)="openFileSelector()">add picture(optional)</p>
        </ng-template>
      </ngx-file-drop>

      <img *ngIf="url" src="{{ url }}" />
    </div>
    
    <div class="buttons">
      <button type="submit" class="btn btn-primary" [disabled]="event.invalid">
        Create
      </button>
      <button class="btn btn-primary" [routerLink]="['/events']">Close</button>
    </div>
  </form>
</div>

<app-errors
  *ngIf="errorMessage"
  [error]="errorMessage"
  (close)="errorMessage = ''"
></app-errors>
