@import "~@angular/material/theming";
@include mat-core();

$takemetoar-admin-primary: mat-palette($mat-indigo);
$takemetoar-admin-accent: mat-palette($mat-pink, A200, A100, A400);

$takemetoar-admin-warn: mat-palette($mat-red);

$takemetoar-admin-theme: mat-light-theme(
  (
    color: (
      primary: $takemetoar-admin-primary,
      accent: $takemetoar-admin-accent,
      warn: $takemetoar-admin-warn,
    ),
  )
);

@include angular-material-theme($takemetoar-admin-theme);

button:not(.btn-success):not(.btn-danger) {
  padding: 7px 15px;
  box-shadow: 1px 1px gray;
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.modalWidow {
  position: fixed;
  padding: 20px;
  border: 3px solid #0275d8;
  box-shadow: 1px 1px #004079;
  border-radius: 5px;
  min-width: 200px;
  margin-bottom: 10px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.delete {
  position: fixed;
  padding: 20px;
  border: 3px solid#dc3545;
  box-shadow: 1px 1px #a72936;
  border-radius: 5px;
  min-width: 200px;
  min-height: 100px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
small {
  color: #d9534f;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(114, 113, 113, 0.267);
  text-align: center;
  margin-right: 5px;
  font-size: 25px;
  line-height: 30px;
}

.icon:hover {
  transform: scale(1.2);
  transition-duration: 0.3;
}

input {
  &.formVal.ng-invalid.ng-touched {
    border: 2px solid #d9534f;
  }
  /* &.formVal.ng-valid.ng-touched {
    border: 1px solid green;
  }*/
}

.fa-tree {
  color: #2e8b57;
}

.pageBorder {
  border-top: 2px solid #0275d8;
  padding-top: 10px;
}

.active-link {
  color: white;
}

.picture img {
  margin-top: 15px;
}
