<div class="zones">
  <!-- MAP WITH MARKERS -->

  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)"
    id="map"
    [scrollwheel]="null"
  >
    <agm-marker-cluster
      [gridSize]="gridSize"
      imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m"
    >
      <agm-marker
        *ngFor="let m of fetchedZones; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
      >
        <!--<agm-info-window>
          <p>{{m.title}}</p>
        </agm-info-window>-->

        <agm-circle
          [latitude]="m.latitude"
          [longitude]="m.longitude"
          [radius]="m.radius"
          [fillColor]="'red'"
        >
        </agm-circle>
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

  <div class="controls">
    <button *ngIf="mode == 'view'" type="button" (click) = "mode = 'create'" class="btn btn-primary">Create zone</button>

    <div class="input-group mb-3" *ngIf="mode == 'create'" >
      <div class="input-group-prepend">
        <span class="input-group-text" >Pick location on the map</span>
      </div>
      <button type="button" (click) = "mode = 'view'" class="btn btn-primary">Cancel</button>
    </div>
    </div>

  <!-- TABLE WITH ZONES -->
  <div class="zoneTable">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-search"></i></span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search zone"
        [(ngModel)]="src"
      />
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Latitude</th>
          <th scope="col">Longitude</th>
          <th scope="col">Radius</th>
          <th scope="col">Location</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let zone of fetchedZones | search: src:'title'"
          class="zoneRow"
          (click)="zoomZone(zone)"
        >
          <td>{{ zone.title }}</td>
          <td>{{ zone.latitude }}</td>
          <td>{{ zone.longitude }}</td>
          <td>{{ zone.radius }}</td>
          <td *ngIf="zone.location.id == 1"><i class="fas fa-tree"></i></td>
          <td *ngIf="zone.location.root == 1">
            {{ zone.location.name }}, <i class="fas fa-tree"></i>
          </td>
          <td *ngIf="zone.location.root != 1 && zone.location.id != 1">
            {{ zone.location.name }}, {{ zone.location.parentName }}
          </td>

          <th scope="row">
            <div class="actionsZone">
              <!--  EDIT ZONE -->
              <div class="icon" (click)="zoneForUpdate = zone">
                <svg
                  width="0.7em"
                  height="0.7em"
                  viewBox="0 0 16 16"
                  class="bi bi-pencil-square"
                  fill="#17a2b8"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </div>
              <!-- CLONE ZONE -->
              <div class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="#292b2c"
                  class="bi bi-file-earmark-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
                  />
                </svg>
              </div>
              <!-- DELETE ZONE -->
              <div class="icon" (click)="delZone = zone">
                <svg
                  class="delete"
                  width="0.7em"
                  height="0.7em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash"
                  fill="#dc3545"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </div>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- DELETE ZONE WINDOW-->

  <div class="backdrop" *ngIf="delZone"></div>

  <div class="delete" *ngIf="delZone">
    <p>Are you sure you want to delete this zone?</p>

    <div class="buttons">
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteZone(delZone.id); delZone = null"
      >
        Confirm
      </button>
      <button type="button" class="btn btn-success" (click)="delZone = null">
        Cancel
      </button>
    </div>
  </div>
</div>

<app-update-zone
  *ngIf="zoneForUpdate"
  [fetchedZone]="zoneForUpdate"
  [coordinates]="newCoorditanes"
  (close)="zoneForUpdate = null; newCoorditanes = null"
  (update)="getAllZones()"
></app-update-zone>

<app-create-zone
  *ngIf="coordinatesForCreation"
  [fetchedCoordinates]="coordinatesForCreation"
  (close)="coordinatesForCreation = null"
  (create)="addZone($event)"
></app-create-zone>

<app-errors
  *ngIf="errorMessage"
  [error]="errorMessage"
  (close)="errorMessage = ''"
></app-errors>
