<div class="row files">
    <div>
        <!--Add/create new file-->
        <div class="card-body">
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <label>Add new file:</label>
                    <input type="file" class="form-control-file" name="filename" (change)="onFileChange($event)" />
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="button" class="btn btn-primary" (click)="sort('extention')">Sort</button>
                </form>
            </div>
        </div>

        <!--View all files-->
        <div class="card-body">
            <div *ngFor="let f of files" class="fileName">
                <div class="icon" (click)="fileDel = f">
                    <svg class="delete" width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-trash"
                        fill="#dc3545" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </div>
                <a class="icon" (click)="url = getFileByName(f.filename)" href="url" download="{{f.filename}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0043A4" class="bi bi-download"
                        viewBox="0 0 16 16">
                        <path
                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                        <path
                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                </a>
                <p>{{ f.filename }}</p>
            </div>
        </div>
    </div>

</div>
<app-errors *ngIf="errorMessage" [error]="errorMessage" (close)="errorMessage = ''"></app-errors>


<div *ngIf="fileDel">
    <div class="backdrop"></div>
    <div class="delete">
        <h2>Are you sure you want to delete file?</h2>
        <div class="buttons">
            <button type="button" class="btn btn-danger"
                (click)="deleteFile(fileDel.filename)">Confirm</button>
            <button type="button" class="btn btn-success" (click)="fileDel = null">Cancel</button>
        </div>
    </div>
</div>
