.zoneCreate {
  min-width: 500px;
  z-index: 10;
  overflow: scroll;
  max-height: 90%;
}

.buttons {
  justify-content: space-between;
}

textarea {
  min-height: 35px;
}

.picture img {
  height: 150px;
  width: auto;
}

.buttons {
  position: sticky;
  bottom: 0;
}
