li {
  cursor: pointer;
}

button {
  margin-right: 10px;
}
.but {
  margin-bottom: 10px;
}
.buttons a {
  color: white;
  text-decoration: none;
}
.read-locations {
  min-height: 400px;
}

.locView{
  overflow-x: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
