.menu {
  display: flex;
  justify-content: flex-start;
}

.input-group {
  max-width: 85%;
  margin-left: 20px;
}
.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-items: center;
}
::-webkit-scrollbar {
  display: none;
}

#title {
  overflow: scroll;
  scrollbar-width: none;
}

#date-loc {
  color: #0275d8;
  overflow: scroll;
  scrollbar-width: none;
}

.eventImg img {
  height: 175px;
  width: auto;
  max-width: 300px;
  text-align: center;
}
.eventImg {
  text-align: center;
  margin-bottom: 10px;
}

.openEvent {
  text-align: right;
  margin-bottom: 15px;
  margin-right: 15px;
}

.deleteEvent {
  position: absolute;
  top: 15px;
  padding-right: 15px;
  right: 0;
  transition: 2.5s;
}

.deleteEvent svg:hover {
  transform: scale(1.2);
}

.delete {
  max-width: 300px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

router-outlet {
  z-index: 5;
}

.pages {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.disabled {
  opacity: 0.7;
}

#short-d {
  height: 100px;
  overflow: scroll;
  margin-bottom: 10px;
  scrollbar-width: none;
}

.events {
  justify-content: center;
}