Flask==1.1.1
Flask-SQLAlchemy==2.4.1
psycopg2-binary==2.8.4
pytest==5.4.3
flask-marshmallow==0.13.0
flask-restplus==0.13.0
marshmallow-sqlalchemy==0.23.1
Werkzeug==1.0.1
flask-accepts==0.17.3
typing-extensions==3.7.4.2