<div class="backdrop"></div>

<div class="zoneUpdate modalWidow">
  <form [formGroup]="zone" (ngSubmit)="updateZone()">
    <div class="form-group row">
      <!-- TITLE -->
      <div class="col-8">
        <label for="title">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control formVal"
        />

        <div
          *ngIf="zone.get('title').invalid && zone.get('title').touched"
          class="validation"
        >
          <small
            *ngIf="
              zone.get('title').errors.minlength ||
              zone.get('title').errors.maxlength
            "
          >
            Length must be between 5 and 200 characters.
          </small>

          <small *ngIf="zone.get('title').errors.required">
            Field "title" can’t be empty.
          </small>
        </div>
      </div>
      <!-- ACTIVE OR NOT -->
      <div class="col">
        <label for="title">Status</label>
        <select
          class="form-select form-control formVal"
          formControlName="active"
        >
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Disabled</option>
        </select>
      </div>
      <!-- SECRET OR NOT -->
      <div class="col">
        <label for="title">Secret</label>
        <select
          class="form-select form-control formVal"
          formControlName="secret"
        >
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>
    </div>

    <!-- SIMPLE UPDATE-->
    <div class="form-group row" *ngIf="coordinates == null; else withCoord">
      <div class="col">
        <label for="latitude">Latitude</label>
        <input
          formControlName="latitude"
          type="number"
          step="0.00000001"
          class="form-control formVal"
        />
      </div>

      <div class="col">
        <label for="longitude">Longitude</label>
        <input
          formControlName="longitude"
          type="number"
          step="0.00000001"
          class="form-control formVal"
        />
      </div>

      <div class="col">
        <label for="radius">Radius</label>
        <input
          formControlName="radius"
          type="number"
          step="0.01"
          class="form-control formVal"
        />

        <div
          *ngIf="zone.get('radius').invalid && zone.get('radius').touched"
          class="validation"
        >
          <small
            *ngIf="
              zone.get('radius').errors.min || zone.get('radius').errors.max
            "
          >
            Zone radius can be only between 20 and 2000 km.
          </small>

          <small *ngIf="zone.get('radius').errors.required">
            Field "radius" can’t be empty.
          </small>
        </div>
      </div>
    </div>

    <!--  IF USER PICKED NEW COORDINATES ON MAP -->
    <ng-template #withCoord>
      <div class="form-group row">
        <div class="col">
          <label for="latitude">Saved latitude</label>
          <input
            type="number"
            step="0.00000001"
            class="form-control"
            value="{{ fetchedZone.latitude }}"
            disabled
          />
        </div>

        <div class="col">
          <label for="longitude">Saved longitude</label>
          <input
            type="number"
            step="0.00000001"
            class="form-control"
            value="{{ fetchedZone.longitude }}"
            disabled
          />
        </div>

        <div class="col">
          <label for="radius">Radius</label>
          <input
            formControlName="radius"
            type="number"
            step="0.01"
            class="form-control formVal"
          />
        </div>
      </div>

      <div class="form-group row" *ngIf="coordinates">
        <div class="col-4">
          <label for="latitude">Picked latitude</label>
          <input
            type="number"
            step="0.00000001"
            formControlName="latitude"
            class="form-control formVal"
            value="{{ coordinates.lat }}"
          />
        </div>

        <div class="col-4">
          <label for="longitude">Picked longitude</label>
          <input
            type="number"
            step="0.00000001"
            formControlName="longitude"
            class="form-control formVal"
            value="{{ coordinates.lng }}"
          />
        </div>
      </div>
    </ng-template>

    <!-- ZONE LOCATION -->
    <div class="form-group row" *ngIf="zoneLocation">
      <div class="col-6">
        <label for="radius">Location</label>

        <input
          class="form-control formVal"
          type="text"
          matInput
          formControlName="location"
          [matAutocomplete]="auto"
          placeholder="{{ zoneLocation.name }}"
          [(ngModel)]="src"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let location of allLocations | startsWith: src"
            [value]="location"
          >
            <p *ngIf="location.id != 1 && location.root != 1">
              {{ location.name }}, {{ location.parentName }}
            </p>

            <p *ngIf="location.id != 1 && location.root == 1">
              {{ location.name }}, <i class="fas fa-tree"></i>
            </p>

            <p *ngIf="location.id == 1">
              <i class="fas fa-tree"></i>
            </p>
          </mat-option>
        </mat-autocomplete>
      </div>

      <!-- ADDRESS -->
      <div class="col-6">
        <label for="address">Actual address</label>
        <input
          class="form-control formVal"
          type="text"
          formControlName="actual_address"
        />
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group row">
      <div class="col">
        <label for="description">Description</label>
        <textarea
          class="form-control formVal"
          type="text"
          formControlName="description"
          placeholder="Enter description"
        ></textarea>

        <div
          *ngIf="
            zone.get('description').invalid && zone.get('description').touched
          "
          class="validation"
        >
          <small *ngIf="zone.get('description').errors.maxlength">
            Length must be less than 500 characters.
          </small>
        </div>
      </div>
    </div>

    <!-- PREVIEW PICTURE -->
    <div class="form-group row">
      <div class="col form-group picture">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="droppedPicture($event)"
        >
          <ng-template
            class="words"
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <p (click)="openFileSelector()">change picture(optional)</p>
          </ng-template>
        </ngx-file-drop>

        <img *ngIf="url" src="{{ url }}" />
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn btn-primary" [disabled]="zone.invalid">
        Update
      </button>
      <button type="button" class="btn btn-primary" (click)="close.emit()">
        Close
      </button>
    </div>
  </form>
</div>

<app-errors
  *ngIf="errorMessage"
  [error]="errorMessage"
  (close)="errorMessage = ''"
></app-errors>
