<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Admin | IASA ABIT QUEST</title>

  <link rel="stylesheet" href="/assets/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="/assets/css/sb-admin-2.min.css">


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCBPw6EB0FSx4MkvFMgJ5ZHjKb6iF7ApY&callback=initMap"
  type="text/javascript"></script>
</head>

<body class="page-top">
  <router-outlet></router-outlet>
</body>

</html>